<div
  class="about-container max-vw-100 min-vh-100 d-flex justify-content-center align-items-center"
>
  <div
    class="about-content bg-black text-white-50 w-75 p-4 rounded rounded-3 shadow-lg"
  >
    <h2 class="h1 text-center text-white mb-4">Network</h2>
    <p>
      This is a movie database app built with Angular, Angular Router, and
      Angular Bootstrap. It is a single page application that allows users to
      search for movies, view movie details, and view people details. The app is
      protected with a JWT authentication token.
    </p>
    <p>
      The app is built with Angular, Angular Router, and Angular Bootstrap. It
      is a single page application that allows users to search for movies, view
      movie details, and view people details. The app is protected with a JWT
      authentication token.
    </p>
  </div>
</div>
